.NavBar {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.NavBar h1 {
  font-size: 2rem;
  margin: 0;
}

.NavBar span {
  display: block;
  margin: 10px 0;
}

.NavBar button {
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
}